<div class="contenido col-xs-12 col-sm-12 col-md-offset-2 col-md-10 col-lg-offset-2 col-lg-10">
           
        <div class="row diapo center-block">
            
           <div class="textoDiapo center-block col-lg-11">
               <h3 class="text-center">Una forma de descubrir y potenciar alternativas culturales de tu localidad y el mundo entero.</h3>
                <button data-url="{{ path('MozcuMozcuBundle_login') }}" class="btn btn-primary btn-lg center-block btnIngresar">Ingresar</button>
               <a href="{{ path('MozcuMozcuBundle_getRegistration') }}" class="crearRegistro"><p class="text-center">¿No estás registrado?</p></a>
            </div>   
            
           
        </div>
           <div class="row center-block caract-titl">
               
                    <h3 class="text-center">Infinitas razones para usar Mozcu</h3>
                  
           </div>
              
  <!-- bloques de caracteristicas -->
      <div class="row rowCaract center-block"> 
          
            <div class="col-md-push-1 col-lg-push-1 col-xs-12 col-sm-12 col-md-11 col-lg-10 caract-model center-block">
              <img class="img-caract center-block col-sm-2 col-md-2 col-lg-2" src="{{ asset('images/senor.png') }}" alt="fede">
              <h4 class="col-xs-12 col-sm-10 col-md-9 col-lg-9">La Re-Evolución Musical</h4>
              <p class="col-xs-12 col-sm-10 col-md-9 col-lg-9">Mozcu es un instrumento que permite diálogo continuo y fluido entre creadores y consumidores, de forma directa, sin intermediarios y utilizando herramientas justas que permitan el desarrollo orgánico de todas y cada una de las propuestas.
    </p>

            </div><!-- /.col-lg-6 -->
            
            <div class="col-md-push-1 col-lg-push-1 col-xs-12 col-sm-12 col-md-11 col-lg-10 caract-model center-block">
              <img class="img-caract center-block col-sm-2 col-md-2 col-lg-2" src="{{ asset('images/vampiro.png') }}" alt="fede">
              <h4 class="col-xs-12 col-sm-10 col-md-9 col-lg-9">Mantener la web libre y respetar tus derechos es nuestra prioridad</h4>
              <p class="col-xs-12 col-sm-10 col-md-9 col-lg-9">La concepción de internet como un terreno perfecto para la distribución de conocimiento, requiere también la implementación de instrumentos a su altura. Mozcu es una herramienta que genera un flujo horizontal de contenido, que potencia la diversidad y riqueza humana.
    </p>

            </div><!-- /.col-lg-6 -->
            
            <div class="col-md-push-1 col-lg-push-1 col-xs-12 col-sm-12 col-md-11 col-lg-10 caract-model center-block">
              <img class="img-caract center-block col-sm-2 col-md-2 col-lg-2" src="{{ asset('images/nina.png') }}" alt="fede">
              <h4 class="col-xs-12 col-sm-10 col-md-9 col-lg-9">No más intermediarios</h4>
              <p class="col-xs-12 col-sm-10 col-md-9 col-lg-9">La estimación del material depende de ti. Puedes optar por una descarga gratuita o asignar un importe. Mozcu no interfiere en las transacciones que se realizan entre oyentes y artistas, por lo tanto el 100% del monto asignado va directamente a los artistas. 
    </p>

            </div><!-- /.col-lg-6 -->
            
            <div class="col-md-push-1 col-lg-push-1 col-xs-12 col-sm-12 col-md-11 col-lg-10 caract-model center-block">
              <img class="img-caract center-block col-sm-2 col-md-2 col-lg-2" src="{{ asset('images/fede_ninomurcielago.png') }}"  alt="fede">
              <h4 class="col-xs-12 col-sm-10 col-md-9 col-lg-9">Uso de licencias Creative Commons</h4>
              <p class="col-xs-12 col-sm-10 col-md-9 col-lg-9">Creemos fundamentalmente en los derechos de autor y en su necesidad en la era digital, pero se han expandido en una forma que básicamente inhiben la creatividad.
Creative Commons es una herramienta para que los artistas marquen sus obras con las libertades que quieren dar.
    </p>

            </div><!-- /.col-lg-6 -->
            <div class="col-md-push-1 col-lg-push-1 col-xs-12 col-sm-12 col-md-11 col-lg-10 caract-model center-block">
              <img class="img-caract center-block col-sm-2 col-md-2 col-lg-2" src="{{ asset('images/gatito.png') }}"  alt="fede">
              <h4 class="col-xs-12 col-sm-10 col-md-9 col-lg-9">Tu música en la mejor calidad posible
</h4>
              <p class="col-xs-12 col-sm-10 col-md-9 col-lg-9">En Mozcu no hacemos distinciones entre usuarios “Premium” o “Free”, simplemente nos preocupamos por entregar la música en la mejor calidad posible. 320 kbps para todos.
    </p>

            </div><!-- /.col-lg-6 -->
            <div class="col-md-push-1 col-lg-push-1 col-xs-12 col-sm-12 col-md-11 col-lg-10 caract-model center-block">
              <img class="img-caract center-block col-sm-2 col-md-2 col-lg-2" src="{{ asset('images/fede_ventana.png') }}" alt="fede">
              <h4 class="col-xs-12 col-sm-10 col-md-9 col-lg-9">Cambiar el futuro</h4>
              <p class="col-xs-12 col-sm-10 col-md-9 col-lg-9">Nuestro objetivo es marcar la diferencia. Cuando eliges Mozcu, estás contribuyendo en la construcción de un futuro mejor para Internet y sus usuarios en todo el mundo.
    </p>

            </div><!-- /.col-lg-6 -->
            
            <div class="col-md-push-1 col-lg-push-1 col-xs-12 col-sm-12 col-md-11 col-lg-10 caract-model center-block">
              <img class="img-caract center-block col-sm-2 col-md-2 col-lg-2" src="{{ asset('images/fede_ninovolador.png') }}" alt="fede">
              <h4 class="col-xs-12 col-sm-10 col-md-9 col-lg-9">¿Piratería? ¿de donde salió este invento?</h4>
              <p class="col-xs-12 col-sm-10 col-md-9 col-lg-9">Trabajamos por un mundo donde el robo de contenido no existe, un mundo donde el usuario es responsable de sus acciones, donde el valor comercial de una obra deja de ser un elemento central en la distribución de contenido y es reemplazado por valores relacionados al impacto colectivo de la obra y su importancia como antecedente cultural para futuras generaciones.
    </p>

            </div><!-- /.col-lg-6 -->

        </div>       
      <!-- FOOTER -->
      <footer>
        <p class="pull-right text-muted">Hecho con <i class="glyphicon glyphicon-heart"></i> en Bs.As.</p>
        <p> <i class="entypo cc"></i>Mozcu 2014, algunos derechos reservados &middot; 
            <a href="{{ path('MozcuMozcuBundle_about') }}">Acerca de Mozcu</a> &middot; 
            <a href="{{ path('MozcuMozcuBundle_terms') }}">Terminos y condiciones</a></p>
      </footer>         
               
</div>