<div class="autocompleteResult col-xs-11 col-sm-11 col-md-11 col-lg-11">
    <ul class="list-unstyled">
        <li class="autoVerResult col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <a href="{{ path('MozcuMozcuBundle_searchResult', {query: query}) }}">Ver todos los resultados para "{{ query }}"</a>
        </li>
        
        {% if profiles|length > 0 %}
            <li class="segmentoTitl col-xs-12 col-sm-12 col-md-12 col-lg-12">Usuario</li>
        {% endif %}
        {% for profile in profiles %}
            <li class="autoResult col-xs-12 col-sm-12 col-md-12 col-lg-12" data-url="{{ path('MozcuMozcuBundle_profile', {username: profile.getUser.getUsername }) }}">
                {% if profile.getMainImage is null %}
                    <img src="{{ asset('images/profile_125x125.jpg')}}" alt="perfil" class="autoImgAlbum col-xs-4 col-sm-2 col-md-2 col-lg-2">
                {% else %}
                    {% for presentation in profile.getMainImage.getPresentations %}
                        {% if presentation.getName == 'livesearch' %}
                            <img src="{{ presentation.url }}" alt="perfil" class="autoImgAlbum col-xs-4 col-sm-2 col-md-2 col-lg-2">
                        {% endif %}
                    {% endfor %}
                {% endif %}
                <p class="autoArtist col-xs-8 col-sm-10 col-md-10 col-lg-10">{{ profile.getCurrentName }}</p>
                <p class="autoArtistMuted col-xs-8 col-sm-10 col-md-10 col-lg-10">
                    {{ profile.getArtists | join(', ') }}
                </p>
            </li>
        {% endfor %}
        
        {% if albums|length > 0 %}
            <li class="segmentoTitl col-xs-12 col-sm-12 col-md-12 col-lg-12">Álbumes</li>
        {% endif %}
        {% for album in albums %}
            <li class="autoResult col-lg-12" data-url="{{ path('MozcuMozcuBundle_albumAlbum', {id: album.getId, 
                            username: album.getProfile.getUser.getUsername }) }}">
                {% for presentation in album.getImage.getPresentations %}
                    {% if presentation.getName == 'livesearch' %}
                        <img src="{{ presentation.url }}" alt="album" class="autoImgAlbum col-xs-4 col-sm-2 col-md-2 col-lg-2">
                    {% endif %}
                {% endfor %}
                <p class="autoArtist col-xs-8 col-sm-10 col-md-10 col-lg-10">{{ album.getName }}</p>
                <p class="autoArtistMuted col-xs-8 col-sm-10 col-md-10 col-lg-10">{{ album.getArtistName }}</p>
            </li>
        {% endfor %}
        
        {% if songs|length > 0 %}
            <li class="segmentoTitl col-xs-12 col-sm-12 col-md-12 col-lg-12">Tracks</li>
        {% endif %}
        {% for song in songs %}
            <li class="autoResult col-lg-12" data-url="{{ path('MozcuMozcuBundle_albumAlbum', {id: song.getAlbum.getId, 
                            username: song.getAlbum.getProfile.getUser.getUsername }) }}">
                {% for presentation in song.getAlbum.getImage.getPresentations %}
                    {% if presentation.getName == 'livesearch' %}
                        <img src="{{ presentation.url }}" alt="album" class="autoImgAlbum col-xs-4 col-sm-2 col-md-2 col-lg-2">
                    {% endif %}
                {% endfor %}
                <p class="autoArtist col-xs-8 col-sm-10 col-md-10 col-lg-10">{{ song.getName }}</p>
                <p class="autoArtistMuted col-xs-8 col-sm-10 col-md-10 col-lg-10">{{ song.getAlbum.getArtistName }}</p>
            </li>
        {% endfor %}
    </ul>  
</div> 