<div class="col-xs-12 col-sm-12 col-md-offset-2 col-md-10 col-lg-offset-2 col-lg-10">
    <div class="alert alert-danger alert-dismissible" style="display:none;" role="alert">
        <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">×</span><span class="sr-only">Close</span>
        </button>
        <strong>Por favor verifique los siguientes errores:</strong>
    </div>
    
    <div class="container col-md-12 col-lg-12">

        <h2 class="siginTitl regTitl text-center">Bienvenido a Mozcu</h2>
        <p class="subtregistro text-center">Crear una nueva cuenta</p>
        <form class="panelRegistro panel center-block" role="form">
            <label>Nombre de usuario</label>
            <input type="text" class="form-control" placeholder="Nombre de usuario" id="username">
            <label>Email</label>  
            <input type="email" class="form-control" placeholder="ejemplo@mozcu.com" id="email">
            <label>Contraseña</label>    
            <input type="password" class="form-control" placeholder="********" id="password">
            <label>Repetir contraseña</label>  
            <input type="password" class="form-control" placeholder="********" id="repeat_password">
            <label>Ciudad</label>
            <input type="text" class="form-control" placeholder="Buenos Aires" id="city" data-url="{{ path('MozcuMozcuBundle_getCities') }}">
            <label>País</label>  
            <select class="form-control" id="country">
                {% for country in countries %}
                    <option value="{{ country.getId }}">{{ country.getName }}</option>
                {% endfor %}
            </select>

            <label class="checkbox">
                <input type="checkbox" id="terms"> Acepto los <a href="{{ path('MozcuMozcuBundle_terms') }}" target="_blank">Terminos y condiciones</a>
            </label>
                
            <button class="btn btn-success btn-block btnRegCont" type="button" data-url="{{ path('MozcuMozcuBundle_postRegistration') }}">Continuar</button>
              
        </form>
    </div>     
</div>
    
<script type="text/javascript">
$(function() {
    $( "#city" ).autocomplete({
            source: $('#city').data('url'),
            minLength: 3
    });
});
</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-31445417-1', 'auto');
  ga('send', 'pageview');

</script>