{% if user is null %}
    <div class="visible-lg visible-md userBar">  
        <ul class="nav navbar-nav navbar-right navBarIn">
            <li><a href="{{ path('MozcuMozcuBundle_login') }}" class="loginLink">Ingresar</a></li>
            <li><button class="btn btn-primary">Crear una cuenta</button></li>
        </ul>
    </div>
{% else %}
    <div class="visible-lg visible-md userBar">
        <div class="navbar-right perfilLoggeado">
            <a href="{{ path('MozcuMozcuBundle_uploadAlbumIndex') }}" class="uploadLink" style="padding-right: 20px;" alt="Subir album">
                <i class="glyphicon glyphicon-cloud-upload" style="font-size: 20px;"></i>
            </a>
                
            {% if user.getCurrentProfile.getMainImage is null %}
                <img src="{{ asset('images/profile_25x25.jpg') }}" class="img-circle imgPerfilMenu" alt="" />
            {% else %}
                {% for presentation in user.getCurrentProfile.getMainImage.getPresentations %}
                    {% if presentation.getName == 'profile_thumbnail' %}
                        <img src="{{ presentation.url }}" class="img-circle imgPerfilMenu" alt="" />
                    {% endif %}
                {% endfor %}
            {% endif %}
            
            <a href="#">{{ user.getCurrentName }}<i class="glyphicon glyphicon-chevron-down"></i></a>
        </div>    
    </div>
{% endif %}