<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
    <head>
        <link rel="stylesheet" href="{{ asset('css/styles.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/layout.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/mauroStyles.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/jquery-ui/jquery-ui-1.10.3.custom.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/uploadify/uploadify.css') }}" />
        
        <link rel="stylesheet" href="{{ asset('css/jplayer/mozcu/jplayer.mozcu.css') }}" />
        
        <script type="text/javascript" src="{{ asset('js/jquery-2.0.3.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/jquery-ui-1.10.3.custom.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/uploadify/jquery.uploadify.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/fileUploader/ajaxfileupload.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/fileUploader/mozcuFileUploader.js') }}"></script>
        
        <script type="text/javascript" src="{{ asset('js/jplayer/jquery.jplayer.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/jplayer/jplayer.playlist.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/player.utils.js') }}"></script>
        
        <script type="text/javascript" src="{{ asset('js/layout.utils.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/profile.utils.js') }}"></script>        
        
        {% block javascript %}{% endblock %}
        
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
        <title>{% block title %}MOZCU{% endblock %}</title>
    </head>
    <body>
        <div class="pageHome wrapperPage">
            <!-- HEADER -->
            <div class="header">
                <div class="logo">
                    <a class="homeLink" href="{{ path('MozcuMozcuBundle_home') }}">
                        <img src="{{ asset('images/logo.png') }}" alt="" />
                    </a>
                </div>
                <div class="search">
                    <input type="text" id="liveSearchInput" placeholder="Buscar bandas, temas, listas de reproducción, etc" />
                    <input type="hidden" id="liveSearchUrl" value="{{ path('MozcuMozcuBundle_ajaxLiveSearch')}}" />
                </div>
                <input type="hidden" id="loadUserBarUrl" value="{{ path('MozcuMozcuBundle_loadUserBar') }}" /> 
                <div class=userBarWrapper>
                    {{ render(controller('MozcuMozcuBundle:Home:loadUserBar')) }}
                </div>
                
            </div>
            <!-- FIN HEADER -->

            <!-- SIDEBAR LEFT -->
            {{ render(controller('MozcuMozcuBundle:Home:loadLeftBar')) }}
            <!-- FIN SIDEBAR LEFT -->

            <!-- MAIN CONTENT -->
            <div class="mainContent">
                {% block mainContent %}{% endblock %}
            </div>
            <!-- FIN MAIN CONTENT -->

        </div>
    </body>
</html>