<div class="profileContent config">
    <div class="message" style="display:none;">
        <div class="messageInner">
            <p></p>
        </div>
    </div>
    
    <div class="clearBoth"></div>
    <div class="content">
            <br />
            <div class="form">
                <input type="hidden" id="saveProfileSettingsUrl" value="{{ path('MozcuMozcuBundle_saveProfileSettings') }}" />
                
                <label for="">Imagen</label> <br />
                <input type="hidden" id="imageFileName" value="" />
                {% if user.getCurrentProfile.getMainImage is null %}
                    <img id="profileImagePreview" src="{{ asset('images/profile_125x125.jpg')}}" alt="" />
                {% else %}
                    {% for presentation in user.getCurrentProfile.getMainImage.getPresentations %}
                        {% if presentation.getName == 'profile_header' %}
                            <img id="profileImagePreview" src="{{ presentation.url }}" alt="" />
                        {% endif %}
                    {% endfor %}
                {% endif %}
                <br /> <br />
                <input id="uploadImage" name="image" type="file" />
                <input type="hidden" id="uploadImageUrl" value="{{ path('MozcuMozcuBundle_uploadImage') }}" />
                <div class="clearBoth"></div><br />
                
                <label for="">Nombre <span class="mandatory">*</span></label> <br />
                <input id="name" type="text" placeholder="El nombre con el que te vas a mostrar" value="{{ user.getCurrentName }}"/>
                <div class="clearBoth"></div><br />
                
                <label for="">Slogan</label> <br />
                <input id="slogan" type="text" placeholder="Alguna frase que te identifique" value="{{ user.getCurrentProfile.getSlogan }}"/>
                <div class="clearBoth"></div><br />
                
                <label for="">Pais <span class="mandatory">*</span></label> <br />
                <select id="country">
                    <option value="">Selecciona un pais</option>
                    {% for country in countries %}
                        <option value="{{ country.getId }}"
                        {% if user.getCurrentProfile.getCountry is not null and user.getCurrentProfile.getCountry.getId == country.getId %}
                            selected="selected"
                        {% endif %}
                        >{{ country.getName }}</option>
                    {% endfor %}
                </select>
                <div class="clearBoth"></div><br />
                
                <label for="">Ciudad <span class="mandatory">*</span></label> <br />
                <input id="city" type="text" placeholder="La ciudad donde vivis" value="{{ user.getCurrentProfile.getCity }}"/>
                <div class="clearBoth"></div><br />
                
                <label for="">Tu sitio web</label> <br />
                <input id="webSiteUrl" type="text" placeholder="Ej: http://misitiopersonal.com" value="{{ user.getCurrentProfile.getWebSiteUrl }}" />
                <div class="clearBoth"></div><br />
                
                <label for="">Email asociado a tu cuenta de paypal <span class="mandatory">*</span></label> <br />
                <input id="paypalEmail" type="text" placeholder="" value="{{ user.getCurrentProfile.getPaypalEmail }}"/>
                <div class="clearBoth"></div><br />
                
                <label for="">Biografia</label> <br />
                <textarea id="description" cols="30" rows="10">
                    {{ user.getCurrentProfile.getDescription }}
                </textarea><br />
                <div class="clearBoth"></div><br />
                    
                <input id="saveProfileSettings" type="button" value="Guardar" /></div>
                
            </div>
            
            <div class="clearBoth"></div><br />
            
            
    </div>
</div>

<script>
    $(function(){
        $('#uploadImage').change(function(){
            var me = $(this);
            $.mozcuFileUpload({
                inputId: me.attr('id'),
                actionUrl: $('#uploadImageUrl').val(),
                success: function(data) {
                    if(data.success) {
                        var img = $('#profileImagePreview');
                        img.attr('src', "/uploads/images/tmp/" + data.file_name);
                        $("#imageFileName").val(data.file_name);
                    }
                }
            });
        });
    })
</script>