<div class="row center-block rowContenido favorites hidden">
    <!--INICIO DE ALBUMES-->
    {% for album in albums %}
        <div class="album col-xs-6 col-sm-4 col-md-3 col-lg-3" data-id="{{ album.getId }}">
            <input type="hidden" class="albumId" value="{{ album.getId }}" />

            {% if album.getIsActive %}
                <a href="{{ path('MozcuMozcuBundle_albumAlbum', {'username': album.getProfile.getUsername,'slug': album.getSlug}) }}">
                    <img src="{{ album.getListThumbnailUrl }}" alt="{{ album.getName }}" class="imgAlbum">
                </a>
                <h5>{{ album.getName }}</h5>
                <a href="{{ path('MozcuMozcuBundle_profile', {'username': user.username}) }}"><p>{{ album.getArtistName }}</p></a>
            {% endif %}
        </div>
    {% else %}
        <div class="noAlbums">{{ user.getCurrentName }} no tiene ningun album favorito!</div>
    {% endfor %}
</div>