<div class="visible-sm visible-md visible-lg">
    <ul class="nav nav-pills navDisco col-sm-12 col-md-12 col-lg-12 profileMenu">
        <li {% if selectedOption == 'biography' %} class="discoActive" {% endif %} >
            <button data-url="{{ path('MozcuMozcuBundle_profileBiography', {'username': user.username}) }}" class="btn btn-link">Información</button>
        </li>
        <li {% if selectedOption == 'albums' %} class="discoActive" {% endif %} >
            <button data-url="{{ path('MozcuMozcuBundle_profileAlbums', {'username': user.username}) }}" class="btn btn-link">Álbumes</button>
        </li>
        {# <li {% if selectedOption == 'reviews' %} class="discoActive" {% endif %} >
            <button data-url="{{ path('MozcuMozcuBundle_profileReviews', {'username': user.username}) }}" class="btn btn-link">Reseñas</button>
        </li>
        <li {% if selectedOption == 'playlists' %} class="discoActive" {% endif %} >
            <button data-url="{{ path('MozcuMozcuBundle_profilePlaylists', {'username': user.username}) }}" class="btn btn-link">Compilados</button>
        </li> #}
    </ul>
</div>

{# mobile #}
<div class="visible-xs">
   <ul class="nav nav-pills navDiscoMobile profileMenu">
        <li style="width: 50px;">&nbsp;</li>
        <li {% if selectedOption == 'biography' %} class="navDiscoMobileActive" {% endif %}>
            <button class="btn btn-link" data-url="{{ path('MozcuMozcuBundle_profileBiography', {'username': user.username}) }}">
                <i class="center-block glyphicon glyphicon-list-alt"></i>Información
            </button>
        </li>
        <li {% if selectedOption == 'albums' %} class="navDiscoMobileActive" {% endif %}>
            <button class="btn btn-link" data-url="{{ path('MozcuMozcuBundle_profileAlbums', {'username': user.username}) }}">
                <i class="center-block glyphicon glyphicon-headphones"></i>Álbumes
            </button>
        </li>
      {#<li><button class="btn btn-link"><i class="center-block glyphicon glyphicon-pencil"></i>Reseñas</button></li>
      <li><button class="btn btn-link"><i class="center-block glyphicon glyphicon-th-large"></i>Compilados</button></li>#}
    </ul>
</div>