<div class="content profileContent">
    {% if user.getCurrentProfile.getImages.count > 1 %}
        <div class="wrapperImagesProfile">
            <div class="left">
                    <img src="{{ asset('images/img1.jpg')}}" alt="" />
            </div>
            <div class="right">
                    <img class="first" src="{{ asset('images/img2.jpg')}}" alt="" /><br />
                    <img src="{{ asset('images/img3.jpg')}}" alt="" />
            </div>
        </div>
    {% endif %}
    
    <div class="dataProfile">
        {% if user.getCurrentProfile.description is not empty %}
            <p>{{ user.getCurrentProfile.description }}</p>
        {% else %}
            <p>
                {% trans with {'%name%': user.getCurrentName} %}El usuario %name% a&uacute;n no posee una biograf&iacute;a{% endtrans %}
                {{ user.getCurrentProfile.description }}
            </p>
        {% endif %}

    </div>
</div>