<div class="row center-block perfilContenido profileContent paginaSeguidores">
    <div class="headerAlbumes col-lg-12 text-center">
        <div class="btn-group btn-seguidores">
            <button type="button" data-type="followers" class="btn btnGroupMozcu btn-default {% if subOption == 'followers' %}btnPerfilActive{% endif %}">{{ user.getProfile.getFollowers.count }} Seguidores</button>
            <button type="button" data-type="following" class="btn btnGroupMozcu btn-default {% if subOption == 'following' %}btnPerfilActive{% endif %}">{{ user.getProfile.getFollowing.count }} Seguidos</button>
        </div>
        <div class="col-lg-2 pull-right hidden">
            <input type="search" class="form-control" placeholder="Buscar">
        </div>
    </div>

    <div class="followers {% if subOption == 'following' %}hidden{% endif %}">
    {% for follower in user.getProfile.getFollowers %}        
        <div class="follow col-xs-6 col-sm-4 col-md-3 col-lg-3 center-block">
            <div class="followBox">
               <a href="{{ path('MozcuMozcuBundle_profile', {'username': follower.getUsername()}) }}">
                    {% if follower.getProfileImageUrlForHeader is null %}
                        <img src="{{ asset('images/profile_125x125.jpg')}}" alt="image" class="img-circle img-perfil imgFollow center-block">
                    {% else %}
                        <img src="{{ follower.getProfileImageUrlForHeader }}" alt="image" class="img-circle img-perfil imgFollow center-block">
                    {% endif %}
               </a>
                <a href="{{ path('MozcuMozcuBundle_profile', {'username': follower.getUsername()}) }}" class="text-center"><h5 class="titlFollower">{{ follower.getCurrentName}}</h5></a>
                {% if loggedInUser is not null and not loggedInUser.getProfile.sameAs(follower) %}
                    {% if loggedInUser.getProfile.following(follower) %}
                        <button type="button" class="btn btn-success btnSeguirFollow center-block disabled"><i class="ion-person-add"></i>Siguiendo</button>
                    {% else %}
                        <button data-url="{{ path('MozcuMozcuBundle_follow') }}" data-id="{{ follower.getId() }}" type="button" class="btn btn-success btnSeguirFollow center-block"><i class="ion-person-add"></i><span class="text">Seguir</span></button>
                    {% endif %}
                {% endif %}
             </div> 
         </div>
    {% else %}
        <div class="noAlbums">{{ user.getCurrentName }} no tiene seguidores.</div>
    {% endfor %}
    </div>
    
    <div class="following {% if subOption == 'followers' %}hidden{% endif %}">
    {% for following in user.getProfile.getFollowing %}        
        <div class="follow col-xs-6 col-sm-4 col-md-3 col-lg-3 center-block">
            <div class="followBox">
               <a href="{{ path('MozcuMozcuBundle_profile', {'username': following.getUsername()}) }}">
                    {% if following.getProfileImageUrlForHeader is null %}
                        <img src="{{ asset('images/profile_125x125.jpg')}}" alt="image" class="img-circle img-perfil imgFollow center-block">
                    {% else %}
                        <img src="{{ following.getProfileImageUrlForHeader }}" alt="image" class="img-circle img-perfil imgFollow center-block">
                    {% endif %}
               </a>
                <a href="{{ path('MozcuMozcuBundle_profile', {'username': following.getUsername()}) }}" class="text-center"><h5 class="titlFollower">{{ following.getCurrentName}}</h5></a>
                {% if loggedInUser is not null and not loggedInUser.getProfile.sameAs(following) %}
                    {% if loggedInUser.getProfile.following(following) %}
                        <button type="button" class="btn btn-success btnSeguirFollow center-block disabled"><i class="ion-person-add"></i>Siguiendo</button>
                    {% else %}
                        <button data-url="{{ path('MozcuMozcuBundle_follow') }}" data-id="{{ following.getId() }}" data-following="Siguiendo" type="button" class="btn btn-success btnSeguirFollow center-block"><i class="ion-person-add"></i><span class="text">Seguir</span></button>
                    {% endif %}
                {% endif %}
             </div>   
        </div>
    {% else %}
        <div class="noAlbums">{{ user.getCurrentName }} no esta siguiendo a nadie.</div>
    {% endfor %}
    </div>
</div>