<div class="wrapperProfile">    
        <div class="profileLeft">
                <div class="imgProfile">
                        {% if user.getCurrentProfile.getMainImage is null %}
                            <img src="{{ asset('images/profile_125x125.jpg')}}" alt="" />
                        {% else %}
                            {% for presentation in user.getCurrentProfile.getMainImage.getPresentations %}
                                {% if presentation.getName == 'profile_header' %}
                                    <img src="{{ presentation.url }}" alt="" />
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                </div>
                <div class="optionsProfile">
                        <h2 class="title">{{ user.getCurrentName }}</h2>
                        <p class="subtitle">{{ user.getCurrentProfile.slogan }}</p>
                        <p class="ubication">
                            {% if user.getCurrentProfile.getCountry is not null %}
                                {% if user.getCurrentProfile.getCity is not null %}
                                    {{ user.getCurrentProfile.getCity }},
                                {% endif %}
                                {{ user.getCurrentProfile.getCountry.getName }}
                            {% endif %}
                        </p>
                        <!--<a href="#" class="btnFollow">
                                <span class="iconFollow">+</span> Seguir
                        </a>-->
                </div>
        </div>
        <div class="profileRight">
                <!--<span class="text">Seguidores</span> <br />
                <span class="numbers">6.345</span> <br />
                <div class="sepLine"></div>
                <span class="text">Siguiendo</span> <br />
                <span class="numbers">23</span>-->
        </div>
</div>