<div class="visible-sm visible-md visible-lg">
    <ul class="nav nav-pills navDisco col-sm-12 col-md-12 col-lg-12 profileMenu">
        <li {% if selectedOption == 'biography' %} class="discoActive" {% endif %} >
            <button data-url="{{ path('MozcuMozcuBundle_profileBiography', {'username': user.username}) }}" class="btn btn-link">Información</button>
        </li>
        <li {% if selectedOption == 'albums' %} class="discoActive" {% endif %} >
            <button data-url="{{ path('MozcuMozcuBundle_profileAlbums', {'username': user.username}) }}" class="btn btn-link">Álbumes</button>
        </li>
        {# <li {% if selectedOption == 'reviews' %} class="discoActive" {% endif %} >
            <button data-url="{{ path('MozcuMozcuBundle_profileReviews', {'username': user.username}) }}" class="btn btn-link">Reseñas</button>
        </li>
        <li {% if selectedOption == 'playlists' %} class="discoActive" {% endif %} >
            <button data-url="{{ path('MozcuMozcuBundle_profilePlaylists', {'username': user.username}) }}" class="btn btn-link">Compilados</button>
        </li> #}
    </ul>
</div>

<!-- INICIO MENU DISCO SOLO PARA MOBILES-->
<div class="visible-xs">
    <div class="btn-group btn-group-justified navDiscoMobile navPerfilMobile profileMenu">
        <a href="{{ path('MozcuMozcuBundle_profileBiography', {'username': user.username}) }}" 
           class="btn btn-default {% if selectedOption == 'biography' %} navDiscoMobileActive {% endif %}">
            <i class="center-block glyphicon glyphicon-book"></i>Información
        </a>
        <a href="{{ path('MozcuMozcuBundle_profileAlbums', {'username': user.username}) }}" 
           class="btn btn-default {% if selectedOption == 'albums' %} navDiscoMobileActive {% endif %}">
            <i class="center-block glyphicon glyphicon-headphones"></i>Álbumes
        </a>
        {# <a href="{{ path('MozcuMozcuBundle_profileReviews', {'username': user.username}) }}" 
           class="btn btn-default {% if selectedOption == 'reviews' %} navDiscoMobileActive {% endif %}">
            <i class="center-block glyphicon glyphicon-pencil"></i>Reseñas
        </a>
        <a href="{{ path('MozcuMozcuBundle_profilePlaylists', {'username': user.username}) }}" 
           class="btn btn-default {% if selectedOption == 'playlists' %} navDiscoMobileActive {% endif %}">
            <i class="center-block glyphicon glyphicon-th-large"></i>Compilados
        </a> #}
    </div>

</div>