<!-- INICIO MENU DE perfil-->
<div class="visible-sm visible-md visible-lg">
    <ul class="nav nav-pills navDisco col-sm-12 col-md-12 col-lg-12">
        <li {% if selectedOption == 'biography' %} class="discoActive" {% endif %} >
            <a href="{{ path('MozcuMozcuBundle_profileBiography', {'username': user.username}) }}">Información</a>
        </li>
        <li {% if selectedOption == 'albums' %} class="discoActive" {% endif %} >
            <a href="{{ path('MozcuMozcuBundle_profileAlbums', {'username': user.username}) }}">Álbumes</a>
        </li>
        <!-- <li {% if selectedOption == 'reviews' %} class="discoActive" {% endif %} >
            <a href="{{ path('MozcuMozcuBundle_profileReviews', {'username': user.username}) }}">Reseñas</a>
        </li>
        <li {% if selectedOption == 'playlists' %} class="discoActive" {% endif %} >
            <a href="{{ path('MozcuMozcuBundle_profilePlaylists', {'username': user.username}) }}">Compilados</a>
        </li> -->
    </ul>       
</div>           
<!-- FIN MENU perfil -->

<!-- INICIO MENU DISCO SOLO PARA MOBILES-->
<div class="visible-xs">
    <div class="btn-group btn-group-justified navDiscoMobile navPerfilMobile">
        <a href="{{ path('MozcuMozcuBundle_profileBiography', {'username': user.username}) }}" 
           class="btn btn-default {% if selectedOption == 'biography' %} navDiscoMobileActive {% endif %}">
            <i class="center-block glyphicon glyphicon-book"></i>Información
        </a>
        <a href="{{ path('MozcuMozcuBundle_profileAlbums', {'username': user.username}) }}" 
           class="btn btn-default {% if selectedOption == 'albums' %} navDiscoMobileActive {% endif %}">
            <i class="center-block glyphicon glyphicon-headphones"></i>Álbumes
        </a>
        <!-- <a href="{{ path('MozcuMozcuBundle_profileReviews', {'username': user.username}) }}" 
           class="btn btn-default {% if selectedOption == 'reviews' %} navDiscoMobileActive {% endif %}">
            <i class="center-block glyphicon glyphicon-pencil"></i>Reseñas
        </a>
        <a href="{{ path('MozcuMozcuBundle_profilePlaylists', {'username': user.username}) }}" 
           class="btn btn-default {% if selectedOption == 'playlists' %} navDiscoMobileActive {% endif %}">
            <i class="center-block glyphicon glyphicon-th-large"></i>Compilados
        </a> -->
    </div>

</div>