<div class="row headerDisco headerPerfil">
               
    <!-- BREADCRUM SOLO PARA MOBILES-->
    <div class="row visible-xs">
        <div class="breadcrumDisco col-xs-12">
            <a href="#" class="col-xs-10 col-sm-10 breadVolver"><i class="glyphicon glyphicon-chevron-left pull-left"></i>Artistas</a>
            <a href="#" class="col-xs-2 col-sm-2 visible-xs visible-sm"><p class="text-right"><i class="btnMasMobile ion-android-more "></i></p></a>
        </div>
    </div>  
    <!-- FIN DE BREADCRUM SOLO PARA MOBILES-->
               
    <div class="col-sm-3 col-md-3 col-lg-2">
        {% if user.getProfile.getMainImage is null %}
            <img src="{{ asset('images/profile_125x125.jpg')}}" alt="perfil" class="img-circle img-perfil center-block">
        {% else %}
            {% for presentation in user.getProfile.getMainImage.getPresentations %}
                {% if presentation.getName == 'profile_header' %}
                    <img src="{{ presentation.url }}" alt="perfil" class="img-circle img-perfil center-block">
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
               
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-8 titlPerfil">
        <h3 class="nombreUser"><a href="#">{{ user.getCurrentName }}</a></h3>
        <p class="subtituloPerfil">{{ user.getProfile.getSlogan }}</p>
        <p class="ubicacionPerfil"><a href="#"><i class="glyphicon glyphicon-map-marker"></i>
            {% if user.getProfile.getCountry is not null %}
                {% if user.getProfile.getCity is not null %}
                    {{ user.getProfile.getCity }} - 
                {% endif %}
                {{ user.getProfile.getCountry.getName }}
            {% endif %}
        </a></p>
        {% if loggedInUser and not loggedInUser.sameAs(user) %}
            <button type="button" class="btn btn-success btnSeguir" data-url="{{ path('MozcuMozcuBundle_follow') }}" 
                    data-id="{{ user.getProfile.getId }}" data-unfollow="Dejar de seguir" data-following="Siguiendo" data-follow="Seguir">
                <i class="ion-person-add"></i>
                <span class="text">
                {% if loggedInUser.getProfile.following(user.getProfile) %}
                    Siguiendo
                {% else %}
                    Seguir
                {% endif %}
                </span>
            </button>
        {% endif %}
    </div>
               
    <div class="followersPerfil col-xs-12 col-sm-2 col-md-2 col-lg-2 center-block">
        <a href="{{ path('MozcuMozcuBundle_profileFollowers', {'username': user.getUsername}) }}">
            <div class="followersFollow col-xs-6 col-md-12 col-sm-12 col-lg-12">
                <p class="numFollow followCounter">{{ user.getProfile.getFollowers.count }}</p>
                <p class="nomFollow">Seguidores</p>   
            </div>
        </a>
        
        <a href="{{ path('MozcuMozcuBundle_profileFollowing', {'username': user.getUsername}) }}">
            <div class="col-xs-6 col-md-12 col-sm-12 col-lg-12">
                <p class="numFollow">{{ user.getProfile.getFollowing.count }}</p>
                <p class="nomFollow">Siguiendo</p>   
            </div>
        </a>
    </div>
    
    {{ include('MozcuMozcuBundle:Profile:_profileMenu.html.twig', {'user': user,'selected': selectedOption}) }}
                       
</div>