{% if song is defined %}
    {% set fileId = 'SWFUpload_3_' ~ song.getTrackNumber %}
    {% set instanceId = 'add_tracks' %}
    {% set fileName = song.getName %}
    {% set fileSize = '' %}
{% else %}
    {% set fileId = '${fileID}' %}
    {% set instanceId = '${instanceID}' %}
    {% set fileName = '${fileName}' %}
    {% set fileSize = '(${fileSize})' %}
{% endif %}
    
<div id="{{ fileId }}" class="temaSubido text-left uploadedSong">
    {% if song is defined %}
        <input type="hidden" class="id" value="{{ song.getId }}" />
    {% endif %}
    
    <i class="glyphicon glyphicon-move"></i>
    <a href="#" >{{ fileName }}</a>
    <a href="#" ><i class="glyphicon glyphicon-pencil"></i></a>
    <a href="#"><i class="glyphicon glyphicon-ok"></i></a>
    
    <span>{{ fileSize }}</span>
    <span class="data"> - Complete</span>
    
    <a href="javascript:$('#{{ instanceId }}').uploadify('cancel', '{{ fileId }}')">
        <i class="glyphicon glyphicon-remove pull-right"></i>
    </a>
    
    <div class="uploadify-progress">
        <div class="uploadify-progress-bar" style="width: 100%;">
            <!--Progress Bar-->
        </div>					
    </div>
    <input type="hidden" class="realFileName" value="" />
     
</div>