<div class="pageUpload">
<input type="hidden" id="albumsForProfileLink" value="{{ path('MozcuMozcuBundle_albumsForProfile', {'username': username})}}" />
<!--<div class="message">
        <div class="messageInner">
                <p>La información está completa, puedes publicar tu disco</p>
                <a href="" class="btnPublic">
                        Publicar
                </a>
        </div>
</div>
<div class="clearBoth"></div>-->
<div class="uploadBox">
        <div class="uploadFront">
            <div class="deleteImage">Borrar</div>
            <input type="hidden" id="imageFileName" value="" />
            <img class="preview" src="" />
            <div class="text">
                    <span class="imagePlaceholderText">Portada del album</span>
                    <input type="file" name="image" id="uploadAlbumImage" />
                    <input type="hidden" id="uploadImageUrl" value="{{ path('MozcuMozcuBundle_uploadImage') }}" />
            </div>
        </div>
        <div class="discName">
                <input type="text" id="albumName" placeholder="Nombre de tu disco" />
        </div>
</div>
<div class="clearBoth"></div>
<div class="content">
        <h1>Agrega los temas de tu disco</h1>
        <div class="plugin">
                <div class="clearBoth"></div>
                <input type="hidden" value="{{ path('MozcuMozcuBundle_uploadSong') }}" id="upload_url" />
                <input type="hidden" value="{{ path('MozcuMozcuBundle_getUploadedSongTemplate') }}" id="uploadify_template_url" />
                <input type="hidden" value="{{ asset('js/uploadify/uploadify.swf') }}" id="uploadify_swf" />
        
                <div style="width: 500px;" >
                    <input type="file" multiple="true" id="add_tracks" />
                </div>
        </div>
        
        <div style="margin-top:13px;">
                
        </div>
        
        <h1>Añade información sobre tu disco</h1>
        <br />
        <div class="form">
                <label for="">A&ntilde;o grabación</label> <br />
                <input id="albumRecordingDate" pattern="[0-9]{4}" maxlength="4" placeholder="Ej: 1994"/>
                <div class="clearBoth"></div><br />
                
                <label for="">Descripción</label> <br />
                <textarea name="" id="albumDescription" cols="30" rows="10"></textarea><br />
                <div class="clearBoth"></div><br />
                
                <label for="">Etiquetas <img src="{{ asset('images/iconHelp.jpg') }}" height="14" width="14" alt="" /></label>
                <div class="clearBoth"></div>
                <div class="tags">
                    <input type="text" class="tagInput" placeholder="Escribi tus etiquetas aca"/>
                </div>
                <div class="clearBoth"></div><br />
                
                <label>Licencia </label>
                <div class="licenses">
                    <input type="hidden" id="license" value="" />
                    <div class="license">
                        <a href="#" class="dos" id="2"></a>
                        <br />
                        <span>Reconocimiento</span>
                    </div>
                    
                    <div class="license">
                        <a href="#" class="tres" id="3"></a>
                        <br />
                        <span>Reconocimiento - Compartir bajo la misma licencia</span>
                    </div>
                    
                    <div class="license">
                        <a href="#" class="cuatro" id="4"></a>
                        <br />
                        <span>Reconocimiento - Sin obras derivadas</span>
                    </div>
                    
                    <div class="license">
                        <a href="#" class="cinco" id="5"></a>
                        <br />
                        <span>Reconocimiento - No comercial</span>
                    </div>
                    
                    <div class="license">
                        <a href="#" class="seis" id="6"></a>
                        <br />
                        <span>Reconocimiento - No comercial - Compartir bajo la misma licencia</span>
                    </div>
                    
                    <div class="license">
                        <a href="#" class="siete" id="7" ></a>
                        <br />
                        <span>Reconocimiento - No comercial - Sin Obras Derivadas</span>
                    </div>
                    
                    <div class="license">
                        <a href="#" class="uno" id="1"></a>
                        <br />
                        <span>Todos los derechos reservados &copy;</span>
                    </div>
                    
                    <div class="clearBoth"></div>
                </div>
        </div>
        
        <div class="clearBoth"></div><br />
        
        <a href="{{ path('MozcuMozcuBundle_uploadAlbum') }}" class="uploadButton"></a>
</div>
</div>

<style>

.licenses {
    margin-top: 10px;
}

.licenses .license {
    float: left;
    margin-right: 10px;
    width: 110px;
    color: #575858;
    font-size: 12px;
}

.licenses .license a {
    height: 22px;
    text-decoration: none;
    display: block;
}

.licenses .license .uno {
    background-image: url("/images/licenses/uno.png");
    width: 22px;
}

.licenses .license .uno.selected,
.licenses .license .uno:hover {
    background-image: url("/images/licenses/uno-t.png");
}

.licenses .license .dos {
    background-image: url("/images/licenses/dos.png");
    width: 44px;
}

.licenses .license .dos.selected,
.licenses .license .dos:hover {
    background-image: url("/images/licenses/dos-t.png");
}

.licenses .license .tres {
    background-image: url("/images/licenses/tres.png");
    width: 66px;
}

.licenses .license .tres.selected,
.licenses .license .tres:hover {
    background-image: url("/images/licenses/tres-t.png");
}

.licenses .license .cuatro {
    background-image: url("/images/licenses/cuatro.png");
    width: 66px;
}

.licenses .license .cuatro.selected,
.licenses .license .cuatro:hover {
    background-image: url("/images/licenses/cuatro-t.png");
}

.licenses .license .cinco {
    background-image: url("/images/licenses/cinco.png");
    width: 66px;
}

.licenses .license .cinco.selected,
.licenses .license .cinco:hover {
    background-image: url("/images/licenses/cinco-t.png");
}

.licenses .license .seis {
    background-image: url("/images/licenses/seis.png");
    width: 88px;
}

.licenses .license .seis.selected,
.licenses .license .seis:hover {
    background-image: url("/images/licenses/seis-t.png");
}

.licenses .license .siete {
    background-image: url("/images/licenses/siete.png");
    width: 88px;
}

.licenses .license .siete.selected,
.licenses .license .siete:hover {
    background-image: url("/images/licenses/siete-t.png");
}
    
.uploadify {
    height: 30px;
    width: 120px;
    margin-left: auto;
    margin-right: auto;
}

.uploadify-queue {
    margin-left: auto;
    margin-right: auto;
}
</style>

<script type="text/javascript" src="{{ asset('js/uploadAlbum.utils.js') }}"></script>

<script type="text/javascript">
    $(function(){
        $('#uploadAlbumImage').change(function(){
            var me = $(this);
            $.mozcuFileUpload({
                inputId: me.attr('id'),
                actionUrl: $('#uploadImageUrl').val(),
                success: function(data) {
                    if(data.success) {
                        var img = me.parents('.uploadFront').find('.preview');
                        var deleteImg = me.parents('.uploadFront').find('.deleteImage');
                        img.attr('src', "/uploads/images/tmp/" + data.file_name);
                        $("#imageFileName").val(data.file_name);
                        
                        me.parent().hide();
                        img.show();
                        deleteImg.show();
                    }
                }
            });
        });
        
        $('.uploadBox .deleteImage').click(function(e) {
            var me = $(this);
            
            var img = me.parent().find('.preview');
            var text = me.parent().find('.text');
            
            $("#imageFileName").val("");
            me.hide();
            img.hide();
            text.show();
        });
        
        $('.licenses .license a').click(function(e){
            e.preventDefault();
            var me = $(this);
            
            me.parents('.licenses').find('.selected').removeClass('selected');
            me.addClass('selected');
            $('#license').val(me.attr('id'));
        });
    })
</script>