{% set edit = album is defined %}
<div class="col-md-offset-2 col-md-10 col-lg-offset-2 col-lg-10 pageUpload">
    <input type="hidden" id="albumsForProfileLink" value="{{ path('MozcuMozcuBundle_albumsForProfile', {'username': username})}}" />
    
    <div class="row center-block">
        <div class="alert alert-danger alert-dismissible" style="display:none;" role="alert">
            <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">×</span><span class="sr-only">Close</span>
            </button>
            <strong>Por favor verifique los siguientes errores:</strong>
        </div>
        
        {% if edit %}<h1>Editando tu álbum</h1>{% else %}<h1>Sube tu álbum</h1>{% endif %}
        
        <!-- Tracks -->
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
             <h3 class="subtituloUpload">Agrega los tracks del álbum</h3>
            <div class="uploadTemas center-block text-center">
                 <i class="glyphicon glyphicon-cloud-upload"></i>
                 
                <input type="hidden" value="{{ path('MozcuMozcuBundle_uploadSong') }}" id="upload_url" />
                <input type="hidden" value="{{ path('MozcuMozcuBundle_getUploadedSongTemplate') }}" id="uploadify_template_url" />
                
                <div class="upload-plugin center-block" >
                    <input type="file" multiple="true" id="add_tracks"/>
                    <div id="add_tracks-queue" class="uploadify-queue ui-sortable">
                        {% if edit %}
                            {% for song in album.getSongs %}
                                {{ include('MozcuMozcuBundle:UploadAlbum:_uploadedSong.html.twig', {'song': song}) }}
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
             </div>   
        </div>
        
        <!-- Informacion -->
        <div class="uploadInfo col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h3 class="subtituloUpload">Añade la información del álbum </h3>
            
            <!-- Imagen -->
            <div class="imgUpload col-md-2 col-lg-3">
                <input type="hidden" id="imageFileName" value="" />
                {% if edit and album.getImage is not null %} 
                    <input type="hidden" id="imageUrl" value="{{ album.getCoverImageUrl }}" /> 
                {% endif %}
                
                <div class="placeholder">
                    <i class="center-block text-center glyphicon glyphicon-picture"></i>
                    <span class="text-center center-block"><!--Arrastra la portada acá--> &nbsp;</span>
                    <span class="text-center center-block">-<!--o bien--->&nbsp;</span>
                </div>
                
                <div class="imgArchivoBtn">
                    <span class="text-center center-block">Selecciona una imagen</span>
                    <input data-url="{{ path('MozcuMozcuBundle_uploadImage') }}" type="file" class="imgArchivo" id="uploadAlbumImage" name="image">
                </div>
                
                <img class="preview" style="display:none; width: 100%; height: auto;" src="" />
                
                <i class="glyphicon glyphicon-remove removeImg"></i>
                
                <img src="{{ asset("images/ajax-loader-small.gif")}}" class="ajaxLoader center-block" style="display:none; margin-top: 94px;"/>
             </div>

            <!-- Datos -->
            <div class="col-md-8 col-lg-9 titlDisco">
                <input id="title" class="form-control " type="text" placeholder="Título del álbum" value="{% if edit %}{{ album.getName }}{% endif %}">
                <input id="artist" class="form-control " type="text" placeholder="Nombre del artista o banda del álbum" value="{% if edit %}{{ album.getArtistName }}{% endif %}">
                <input id="date" placeholder="Año de publicación, ej: 2014" type="datetime" class="form-control" value="{% if edit %}{{ album.getReleaseDate }}{% endif %}">
                <textarea id="description" class="form-control" rows="8" placeholder="Información del álbum">{% if edit %}{{ album.getDescription }}{% endif %}</textarea>
                <input id="tags" class="form-control" type="text" placeholder="Tags (separa los tags por una coma Ej:rock, pop, rap...)" data-tags="{% if edit %}{{ album.getTagsCommaSeparated }}{% endif %}">
            </div>
        </div>
        
        <!-- Licencias -->
        <div class="uploadLicencias col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h3>Selecciona una licencia</h3>
            <p>Creative Commons expresa la idea de "Algunos derechos reservados", quien la elija cree en algo distinto a los extremos de "todo" o "nada". Por medio de una licencia Creative Commons los creadores de contenido permiten a otros usuarios utilizar su trabajo y seguir produciendo música libre. <small class="text-primary">El material subido al Sitio se marcará con las iniciales CC, que no implica renuncia a la protección de la propiedad intelectual mediante Copyright, sino que se conceden ciertas libertades.</small> </p>

            <input type="hidden" id="license" value="{% if album is defined %} {{ album.getLicense }} {% endif %}" />
            
            <div class="licencia col-lg-5 {% if edit and album.license == 2 %}licenciaSelect{% endif %}" data-id="2">
                <a href="#" class="select"><h4>Atribución (by)</h4></a>
                <div class="ccLicencia">
                    <i class="entypo cc"></i>
                    <i class="entypo cc-by"></i>

                 </div>
                <p>Se permite cualquier explotación de la obra, incluyendo la explotación con fines comerciales y la creación de obras derivadas, la distribución de las cuales también está permitida sin ninguna restricción. <a href="http://creativecommons.org.ar/faq#p3-01" target="_blank">Esta licencia es una licencia libre según la Freedom Defined.</a></p>
            </div>

            <div class="licencia col-lg-5 {% if edit and album.license == 3 %}licenciaSelect{% endif %}" data-id="3">
                <a href="#" class="select"><h4>Reconocimiento – Compartir Igual (by-sa)</h4></a>
                <div class="ccLicencia">
                    <i class="entypo cc"></i>
                    <i class="entypo cc-by"></i>
                    <i class="entypo cc-sa"></i>

                 </div>
                <p>Se permite el uso comercial de la obra y de las posibles obras derivadas, la distribución de las cuales se debe hacer con una licencia igual a la que regula la obra original.<a href="http://creativecommons.org.ar/faq#p3-01" target="_blank"> Esta licencia es una licencia libre según la Freedom Defined.</a></p>
            </div>

            <div class="licencia col-lg-5 {% if edit and album.license == 5 %}licenciaSelect{% endif %}" data-id="5">
                <a href="#" class="select"><h4>Atribución – No Comercial (by-nc)</h4></a>
                <div class="ccLicencia">
                    <i class="entypo cc"></i>
                    <i class="entypo cc-by"></i>
                    <i class="entypo cc-nc"></i>

                 </div>
                <p>Se permite la generación de obras derivadas siempre que no se haga con fines comerciales. Tampoco se puede utilizar la obra original con fines comerciales. Esta licencia no es una licencia libre.</p>
            </div>

            <div class="licencia col-lg-5 {% if edit and album.license == 6 %}licenciaSelect{% endif %}" data-id="6">
                <a href="#" class="select"><h4>Atribución – No Comercial – Compartir Igual (by-nc-sa)</h4></a>
                <div class="ccLicencia">
                    <i class="entypo cc"></i>
                    <i class="entypo cc-by"></i>
                    <i class="entypo cc-nc"></i>
                    <i class="entypo cc-sa"></i>

                 </div>
                <p>No se permite un uso comercial de la obra original ni de las posibles obras derivadas, la distribución de las cuales se debe hacer con una licencia igual a la que regula la obra original. Esta licencia no es una licencia libre.</p>
            </div>

            <div class="licencia col-lg-5 {% if edit and album.license == 4 %}licenciaSelect{% endif %}" data-id="4">
                <a href="#" class="select"><h4>Atribución – Sin Obra Derivada (by-nd)</h4></a>
                <div class="ccLicencia">
                    <i class="entypo cc"></i>
                    <i class="entypo cc-by"></i>
                    <i class="entypo cc-nd"></i>

                 </div>
                <p> Se permite el uso comercial de la obra pero no la generación de obras derivadas. Esta licencia no es una licencia libre.</p>
            </div>

            <div class="licencia col-lg-5 {% if edit and album.license == 7 %}licenciaSelect{% endif %}" data-id="7">
                <a href="#" class="select"><h4>Atribución – No Comercial – Sin Obra Derivada (by-nc-nd)</h4></a>
                <div class="ccLicencia">
                    <i class="entypo cc"></i>
                    <i class="entypo cc-by"></i>
                    <i class="entypo cc-nc"></i>
                    <i class="entypo cc-nd"></i>

                 </div>
                <p> No se permite un uso comercial de la obra original ni la generación de obras derivadas. Esta licencia no es una licencia libre, y es la más cercana al derecho de autor tradicional.</p>
            </div>
        </div>
        
        <p>Recuerda que en Mozcu solo puedes distribuir obras que te pertenecen y/ó que estás autorizado para hacerlo. Queremos mantener una red de distribución moderna y coherente a nuestros usos.</p>
                
        <footer class="col-lg-10 publicarFooter">
            {% if edit %}
                <button type="button" data-url="{{ path('MozcuMozcuBundle_updateAlbum', {'id': album.getId}) }}" class="btn btn-success pull-right">Publicar</button>
            {% else %}
                <button type="button" data-url="{{ path('MozcuMozcuBundle_uploadAlbum') }}" class="btn btn-success pull-right">Publicar</button>
            {% endif %}
            
            <button type="button" class="btn btn-link pull-right">Cancelar</button>   

        </footer>


    </div>
 </div>
                    
<script type="text/javascript">
    $(function() {
        $('head meta[name=description]').attr('content', '{{ defaultMetaDesc }}');
        
        var uploadifyTemplate;
    
        if($('#uploadify_template_url').length > 0) {
            $.ajaxSetup({async: false});
            var url = $('#uploadify_template_url').val();
            $.getJSON(url, function(data) {
                if(data.success) {
                    uploadifyTemplate = data.html;
                }
            });
            $.ajaxSetup({async: true});
        }
        
        $('#add_tracks').uploadifive({
            uploadScript    : $('#upload_url').val(),
            buttonText      : '+ Agregar tracks',
            buttonClass     : 'btnUpload btn btn-default btn-lg center-block',
            multi           : true,
            auto            : true,
            removeCompleted : false,
            fileSizeLimit   : '0',
            itemTemplate    : uploadifyTemplate,
            queueID         : 'add_tracks-queue',
            width           : 200,
            onUploadComplete : function(file, data) {
                var data = $.parseJSON(data);    
                if(data.success) {
                    file.queueItem.find('.realFileName').val(data.file_name);
                    // Titulo
                    file.queueItem.find('.filename').html(data.original_name);
                } else {
                    file.queueItem.find('.fileinfo').html('ERROR');
                }
                $('#uploadifive-add_tracks input[type="file"]').attr(
                    'accept',
                    'audio/mpeg'
                );
            },
            onInit : function(instance) {
                $('.upload-plugin .uploadify').attr('style', '');
                $('#uploadifive-add_tracks input[type="file"]').attr(
                    'accept',
                    'audio/mpeg'
                );
            }
        });
        
        $('.uploadify-queue').on('click', '.close', function(e) {
            var song = $(this).parent();
            song.remove();
        });
        
        $('.uploadify-queue').sortable();
        
        $('#uploadAlbumImage').change(function(){
            var me = $(this);
            var container = $(".imgUpload");
            var loader = container.find('.ajaxLoader');
            
            container.find('.placeholder').hide();
            container.find('.imgArchivoBtn').hide();
            loader.show();
            
            $.mozcuFileUpload({
                inputId: me.attr('id'),
                actionUrl: me.data('url'),
                success: function(data) {
                    if(data.success) {
                        var img = container.find('.preview');
                        //TODO: sacar esta ruta hardcodeada de aca
                        img.attr('src', "/uploads/tmp/images/" + data.file_name);
                        $("#imageFileName").val(data.file_name);
                        
                        loader.hide();
                        img.show();
                        container.find('.removeImg').show();
                        
                        if($('#imageUrl').length > 0) {
                            $('#imageUrl').remove();
                        }
                    } else {
                        loader.hide();
                        container.find('.removeImg').hide();
                        container.find('.placeholder').show();
                        container.find('.imgArchivoBtn').show();
                    }
                }
            });
        });
        
        $('.imgUpload .removeImg').click(function(e) {
            e.preventDefault();
            
            var me = $(this);
            var container = $('.imgUpload');
            
            $('#uploadAlbumImage').val('');
            $("#imageFileName").val("");
            
            if($('#imageUrl').length > 0) {
                $('#imageUrl').remove();
            }
            
            me.hide();
            container.find('.preview').attr('src', '').hide();
            container.find('.placeholder').show();
            container.find('.imgArchivoBtn').show();
        });
        
        // for edit
        if($('#imageUrl').length > 0) {
            var container = $('.imgUpload');
            
            container.find('.placeholder').hide();
            container.find('.imgArchivoBtn').hide();
            container.find('.preview').attr('src', $('#imageUrl').val()).show();
            container.find('.removeImg').show();
        }
        
        $('#tags').tagit({
            placeholderText: 'Tags'
        });
        
        //for edit
        if($('#tags').attr('data-tags')) {
            var input = $('#tags');
            var tcs = input.data('tags').split(',');
            for(var key in tcs) {
                input.tagit("createTag", tcs[key]);
            }
        }
    });
</script>

{{ include('googleAnalytics.html.twig') }}