<div class="row headerDisco">
               
    {#<div class="row visible-xs visible-sm">
        <div class="breadcrumDisco col-xs-12 col-sm-12">
            <a href="#" class="col-xs-10 col-sm-10 breadVolver">
                <i class="glyphicon glyphicon-chevron-left pull-left"></i>{{ album.getProfile.getUser.getCurrentName }}
            </a>
            <a href="#" class="col-xs-2 col-sm-2 visible-xs visible-sm">
                <p class="text-right"><i class="btnMasMobile ion-android-more "></i></p>
            </a>
        </div>
    </div>  #}
    
    {% set username = album.getProfile.getUser.getUsername %}
    <div class="col-sm-3 col-md-2 col-lg-2">
        <a href="#" id="{{ album.getId}}" class="playPause text-center">   
            <i class="botonPLay glyphicon glyphicon-play"></i>
            <i class="glyphicon glyphicon-pause hidden"></i>
        </a> 
        
        {% for presentation in album.getImage.getPresentations %}
            {% if presentation.getName == 'album_header' %}
                <img src="{{ presentation.url }}" alt="perfil" class="imgDisco center-block">
            {% endif %}
        {% endfor %}
    </div>

    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-6 titlDisco">
        <h3 class="nombreDisco">{{ album.getName }}</h3>
        <h4 class="nombreBanda">{{ album.getArtistName }}</h4>   
        <h5 class="nombreAlbumUser">
            Subido por
            <a href="{{ path('MozcuMozcuBundle_profile', {'username': album.getProfile.getUser.username}) }}">
                {{ album.getProfile.getCurrentName }}
            </a>
        </h5>
    </div>

    <div class="col-sm-2 col-md-2 col-lg-2 hidden-xs hidden-sm">
        <button type="button" data-url="{{ path("MozcuMozcuBundle_albumDownloadModal", {id: album.getId}) }}" class="btn btn-primary btn-block btnDescarga">
            <i class="glyphicon glyphicon-cloud-download"></i>Descargar
        </button>
    </div>
    <div class="col-sm-2 col-md-2 col-lg-2 hidden-xs hidden-sm">
        <div class="btn-group btn-group-justified btngroupCompartir">
            {% if loggedInUser  %}
                <a href="{{ path ('MozcuMozcuBundle_likeAlbum', {'albumId': album.getId}) }}" class="btn btn-default btnCompartir {% if loggedInUser.getProfile.likeAlbum(album) %} unlike {% endif %}" id="likeAlbum"><i class="glyphicon glyphicon-heart"></i></a>
            {% endif %}
            <a href="{{ path('MozcuMozcuBundle_albumShareModal', {'id': album.getId})}}" class="btn btn-default btnCompartir" id="shareAlbum"><i class="glyphicon glyphicon-share"></i></a>
        </div>
    </div>

    {# menu #}
    <div class="visible-sm visible-md visible-lg">
        <ul class="nav nav-pills navDisco col-sm-12 col-md-12 col-lg-12 albumMenu">
            <li {% if selected == 'playlist' %} class="discoActive" {% endif %}>
                <button data-url="{{ path('MozcuMozcuBundle_albumAlbumAction', {'username': username, 'slug': album.getSlug, 'action': 'playlist'}) }}" class="btn btn-link">Lista de temas</button>
            </li>
            <li {% if selected == 'information' %} class="discoActive" {% endif %}>
                <button data-url="{{ path('MozcuMozcuBundle_albumAlbumAction', {'username': username, 'slug': album.getSlug, 'action': 'information'}) }}" class="btn btn-link">Información</button>
            </li>
            {# <li {% if selected == 'comments' %} class="discoActive" {% endif %}>
                <button data-url="#" class="btn btn-link">Comentarios</button>
            </li> #}
            <li {% if selected == 'related' %} class="discoActive" {% endif %}>
                <button data-url="{{ path('MozcuMozcuBundle_albumAlbumAction', {'username': username, 'slug': album.getSlug, 'action': 'related'}) }}" class="btn btn-link">Similares</button>
            </li>
        </ul>
    </div>
    
    {# Mobile #}
    <div class="visible-xs">
        <ul class="nav nav-pills navDiscoMobile albumMenu">
            <li {% if selected == 'playlist' %} class="navDiscoMobileActive" {% endif %}>
                <button class="btn btn-link" data-url="{{ path('MozcuMozcuBundle_albumAlbumAction', {'username': username, 'slug': album.getSlug, 'action': 'playlist'}) }}"><i class="center-block glyphicon glyphicon-list"></i>Lista de temas</button>
            </li>
            <li {% if selected == 'information' %} class="navDiscoMobileActive" {% endif %}>
                <button class="btn btn-link" data-url="{{ path('MozcuMozcuBundle_albumAlbumAction', {'username': username, 'slug': album.getSlug, 'action': 'information'}) }}"><i class="center-block glyphicon glyphicon-book"></i>Información</button>
            </li>
            {# <li {% if selected == 'comments' %} class="navDiscoMobileActive" {% endif %}>
                <button class="btn btn-link"><i class="center-block glyphicon glyphicon-comment"></i>Reseñas</button>
            </li> #}
            <li {% if selected == 'related' %} class="navDiscoMobileActive" {% endif %}>
                <button class="btn btn-link" data-url="{{ path('MozcuMozcuBundle_albumAlbumAction', {'username': username, 'slug': album.getSlug, 'action': 'related'}) }}"><i class="center-block glyphicon glyphicon-th-large"></i>Similares</button>
            </li>
        </ul>
    </div>
</div>