<div class="row albumContent center-block">
    <div class="infoDisco col-md-7 col-lg-8">
        <h3>Información</h3>
        <p class="infoDiscoParrafo">{{ album.description }}</p>
        <strong>Año de publicaci&oacute;n {{ album.getReleaseDate }}</strong>
        <div class="infoTags">
            <strong>Tags</strong>
            {% for tag in album.getTags%}
                <a href="{{ path('MozcuMozcuBundle_tagSearchResult', {tag: tag.getName}) }}" class="tag">#{{ tag.getName }}</a>
            {% endfor %}
        </div>
    </div>
    <div class="statDisco infoDisco col-md-4 col-lg-3">
        <h3>Estadísticas</h3>
        <table class="table">
            <tr>
                <td class="tdIcon"><h5><i class="glyphicon glyphicon-play"></i></h5></td>
                <td class="tdText"><h5>Reproducciones</h5></td>
                <td class="tdNum"><h5>{{ album.getVisits }}</h5></td>
            </tr>
            <tr>
                <td class="tdIcon"><h5><i class="glyphicon glyphicon-cloud-download"></i></h5></td>
                <td class="tdText"><h5>Descargas</h5></td>
                <td class="tdNum"><h5>{{ album.getDownloads }}</h5></td>
            </tr>
            <tr>
                <td class="tdIcon"><h5><i class="glyphicon glyphicon-heart"></i></h5></td>
                <td class="tdText"><h5>Favoritos</h5></td>
                <td class="tdNum"><h5>1,9k</h5></td>  
            </tr>
        </table>       
    </div>
    
    <div class="licDisco infoDisco col-md-7 col-lg-8">
                   <h3>Licencia</h3>
                       <p class="licTitl">Atribución – No Comercial – Compartir Igual (by-nc-sa)
                           <i class="entypo cc"></i>
                       <i class="entypo cc-by"></i>
                       <i class="entypo cc-nc"></i>
                       <i class="entypo cc-sa"></i>
                       <i class="entypo cc-nd"></i></p>
                       
                   
                   <p>Puedes copiar, distribuir, promocionar y tocar este álbum siempre y cuando tú:</p>
                   <table class="table">
                        <tr>
                            <td class="licIcon"><h4><i class="entypo cc-by"></i></h4></td>
                            <td class="licText"><h5>Menciones el nombre del artista.</h5></td>
                        </tr>
                       <tr>
                            <td class="licIcon"><h4><i class="entypo cc-nc"></i></h4></td>
                            <td class="licText"><h5>No utilices este álbum con fines comerciales.</h5></td>
                        </tr>
                       <tr>
                            <td class="licIcon"><h4><i class="entypo cc-sa"></i></h4></td>
                            <td class="licText"><h5>Distribuyas todas las obras derivadas de este álbum bajo la misma licencia CC.</h5></td>
                        </tr>
                        <tr>
                            <td class="licIcon"><h4><i class="entypo cc-nd"></i></h4></td>
                            <td class="licText"><h5>No alteres, transformes o crees obras derivadas, basados en este álbum.</h5></td>
                        </tr>
                       
                       
                       
                   </table>
                   <a href="{{ path('MozcuMozcuBundle_albumReportModal', {id: album.getId})}}" class="pull-right" id="reportAlbum">
                       Denunciar esta obra <i class="glyphicon glyphicon-warning-sign"></i>
                   </a>
               </div>
</div>