<div class="col-md-offset-2 col-md-10 col-lg-offset-2 col-lg-10 albumsPage">
<!--INICIO DE CONTENIDO-->
    <div class="row center-block perfilContenido">
        <div class="headerExplorer col-lg-12" data-url="{{ path('MozcuMozcuBundle_albumsNextPage', {'page' : 0}) }}">
            {{ render(controller('MozcuMozcuBundle:Album:loadFilters')) }}
        </div>
                
        {% if tag is defined %}
            <div data-tag="{{ tag.getName }}" class="row headerResultados tagResult">
                <h3>Resultados para "#{{ tag.getName }}"</h3>
            </div>
        {% else %}
            <div class="row headerResultados">
                <h3>Los mas visitados!</h3>
            </div>
        {% endif %}
        
        <!--INICIO DE ALBUMES               -->
        
        {% for album in albums %}
            {{ include('MozcuMozcuBundle:Album:_album.html.twig', {album: album}) }}
        {% endfor %}
        <!--FIN DE ALBUMES-->               
        
        <input type="hidden" id="albumsNextPage" value="{{ path('MozcuMozcuBundle_albumsNextPage', {page: 1}) }}" />
        
    </div>

</div><!--FIN DE CONTENIDO-->

<script type="text/javascript">
$(function(){
    window.scrollTo(0,0);
    
    var loading = false;

    $(window).off('scroll');
    $(window).scroll(function() {
        if($('.albumsPage').length == 0 ) {
            return;
        }
        var currentScroll = $(window).scrollTop() + $(window).height();
        var offset = $('.albumsPage').offset();
        var totalScroll = offset.top + $('.albumsPage').outerHeight(true);
        if(currentScroll + 30 > totalScroll && !loading) {
            loading = true;
            loadMore();
        }
    });
    
    var loadMore = function() {
        var url = $('#albumsNextPage').val();
        
        var params = {};
        if($('.tagResult').length > 0) {
            params.tag = $('.tagResult').data('tag');
        }
        params.filters = getFilters();
        
        $.getJSON(url, params, function(data) {
            if(data.success) {
                $('#albumsNextPage').remove();
                $('.album').last().after(data.html);
                loading = false;
            }
        });
    };
    
    // Filtros
    $('.headerExplorer').on('click', '.dropdown-menu .form-control', function(e) { e.stopPropagation(); });
    
    var lastSearchAjax = null;
    $('.headerExplorer').on('keyup', '.dropdown-menu input[type=search]', function(e){
        var me = $(this);
        if(lastSearchAjax !== null) {
            lastSearchAjax.abort();
        }
        
        if(me.val().length < 0) {
            removeLiveSearchResult();
            return false;
        }
        lastSearchAjax = $.getJSON(me.data('url'), { term: me.val() }, function (data) {
            if(data.length === 0) {
                return;
            }
            me.parent().nextAll().remove();
            $.each(data, function(key, item) {
                me.parents('ul').append('<li><button data-id="' + item.id + '" class="btn btn-link">' + item.label + '</button></li>')
            });
            lastSearchAjax = null;
        });
    });
    
    $('.headerExplorer').on('click', '.dropdown-menu button', function(e){
        var me = $(this);
        var url = $('.headerExplorer').data('url');
        
        me.parents('.btn-group').find('.filterValue').val(me.data('id'));
        me.parents('.btn-group').find('.dropdownButton .name').html(me.html());
        
        $.getJSON(url, {filters: getFilters()}, function(data) {
            if(data.success) {
                $('.notFound').remove();
                $('#albumsNextPage').remove();
                $('.album').remove();
                $('.headerResultados').remove();
                $('.headerExplorer').after(data.html);
                $('.headerExplorer .clearFilters').removeClass('hidden');
            }
        });
    });
    
    $('.headerExplorer').on('click', '.clearFilters button', function(e){
        var me = $(this);
        var url = $('.headerExplorer').data('url');
        var loadFiltersUrl = me.data('url');
        
        $.getJSON(url, function(data) {
            if(data.success) {
                $('.notFound').remove();
                $('#albumsNextPage').remove();
                $('.album').remove();
                $('.headerResultados').remove();
                $('.headerExplorer').after(data.html);
                $('.headerExplorer .clearFilters').addClass('hidden');
                
                $.getJSON(loadFiltersUrl, function(data) {
                    if(data.success) {
                        $('.headerExplorer').html(data.html);
                    }
                });
            }
        });
    });
    
    var getFilters = function() {
        var filters = {tag: $('#tag').val(), country: $('#country').val()};
        if($('#order').val().length > 0) {
            filters.orderBy = {sort: $('#order').val(), order: 'DESC'};
        }
        return filters;
    };

});
    
</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-31445417-1', 'auto');
  ga('send', 'pageview');

</script>