<div class="row albumContent center-block">
    <div class="infoDisco col-md-7 col-lg-8">
        <h3>Información</h3>
        <p class="infoDiscoParrafo">{{ album.description }}</p>
        <strong>Año de publicaci&oacute;n {{ album.getReleaseDate }}</strong>
        <div class="infoTags">
            <strong>Tags</strong>
            {% for tag in album.getTags%}
                <a href="{{ path('MozcuMozcuBundle_tagSearchResult', {tag: tag.getName}) }}" class="tag">#{{ tag.getName }}</a>
            {% endfor %}
        </div>
    </div>
    <div class="statDisco infoDisco col-md-4 col-lg-3">
        <h3>Estadísticas</h3>
        <table class="table">
            <tr>
                <td class="tdIcon"><h5><i class="glyphicon glyphicon-play"></i></h5></td>
                <td class="tdText"><h5>Reproducciones</h5></td>
                <td class="tdNum"><h5>{{ album.getVisits }}</h5></td>
            </tr>
            <tr>
                <td class="tdIcon"><h5><i class="glyphicon glyphicon-cloud-download"></i></h5></td>
                <td class="tdText"><h5>Descargas</h5></td>
                <td class="tdNum"><h5>{{ album.getDownloads }}</h5></td>
            </tr>
            <tr>
                <td class="tdIcon"><h5><i class="glyphicon glyphicon-heart"></i></h5></td>
                <td class="tdText"><h5>Favoritos</h5></td>
                <td class="tdNum"><h5>1,9k</h5></td>  
            </tr>
        </table>       
    </div>
    
    {{ include('MozcuMozcuBundle:Album:_albumLicenses.html.twig', { 'license': album.license }) }}
    
</div>