<div class="row headerDisco">
               
    <!-- BREADCRUM SOLO PARA MOBILES-->
    <div class="row visible-xs visible-sm">
        <div class="breadcrumDisco col-xs-12 col-sm-12">
            <a href="#" class="col-xs-10 col-sm-10 breadVolver">
                <i class="glyphicon glyphicon-chevron-left pull-left"></i>{{ album.getProfile.getUser.getCurrentName }}
            </a>
            <a href="#" class="col-xs-2 col-sm-2 visible-xs visible-sm">
                <p class="text-right"><i class="btnMasMobile ion-android-more "></i></p>
            </a>
        </div>
    </div>  
    <!--    FIN DE BREADCRUM SOLO PARA MOBILES-->
    
    {% set username = album.getProfile.getUser.getUsername %}
    <div class="col-sm-3 col-md-2 col-lg-2">
        <a href="#" id="{{ album.getId}}" class="playPause text-center">   
            <i class="botonPLay glyphicon glyphicon-play"></i>
            <i class="glyphicon glyphicon-pause hidden"></i>
        </a> 
        
        {% for presentation in album.getImage.getPresentations %}
            {% if presentation.getName == 'album_header' %}
                <img src="{{ presentation.url }}" alt="perfil" class="imgDisco center-block">
            {% endif %}
        {% endfor %}
    </div>

    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-6 titlDisco">
        <h3 class="nombreDisco">{{ album.getName }}</h3>
        <h4 class="nombreBanda">{{ album.getArtistName }}</h4>   
        <h5 class="nombreAlbumUser">
            Subido por
            <a href="{{ path('MozcuMozcuBundle_profile', {'username': album.getProfile.getUser.username}) }}">
                {{ album.getProfile.getCurrentName }}
            </a>
        </h5>
    </div>

    <div class="col-sm-2 col-md-2 col-lg-2 hidden-xs hidden-sm">
        <button type="button" data-url="{{ path("MozcuMozcuBundle_albumDownloadModal", {id: album.getId}) }}" class="btn btn-primary btn-block btnDescarga">
            <i class="glyphicon glyphicon-cloud-download"></i>Descargar
        </button>
    </div>
    <div class="col-sm-2 col-md-2 col-lg-2 hidden-xs hidden-sm">
        <div class="btn-group btn-group-justified btngroupCompartir">
            <a href="#" class="btn btn-default btnCompartir"><i class="glyphicon glyphicon-heart-empty"></i></a>
            <a href="#" class="btn btn-default btnCompartir"><i class="glyphicon glyphicon-share"></i></a>
        </div>
    </div>

    <!-- INICIO MENU DE DISCO-->
    <div class="visible-sm visible-md visible-lg">
        <ul class="nav nav-pills navDisco col-sm-12 col-md-12 col-lg-12">
            <li {% if selected == 'playlist' %} class="discoActive" {% endif %}>
                <a href="{{ path('MozcuMozcuBundle_albumAlbumPlaylist', {'username': username, 'id': album.getId}) }}">Lista de temas</a>
            </li>
            <li {% if selected == 'information' %} class="discoActive" {% endif %}>
                <a href="{{ path('MozcuMozcuBundle_albumAlbumInformation', {'username': username, 'id': album.getId}) }}">Información</a>
            </li>
            <li {% if selected == 'comments' %} class="discoActive" {% endif %}>
                <a href="#">Comentarios</a>
            </li>
            <li {% if selected == 'related' %} class="discoActive" {% endif %}>
                <a href="{{ path('MozcuMozcuBundle_albumAlbumRelated', {'username': username, 'id': album.getId}) }}">Similares</a>
            </li>
        </ul>
    </div>
    <!-- FIN MENU DISCO -->

    <!-- INICIO MENU DISCO SOLO PARA MOBILES-->
    <div class="visible-xs">
        <div class="btn-group btn-group-justified navDiscoMobile">
            <a href="{{ path('MozcuMozcuBundle_albumAlbumPlaylist', {'username': username, 'id': album.getId}) }}" class="btn btn-default {% if selected == 'playlist' %} navDiscoMobileActive {% endif %}">
                <i class="center-block glyphicon glyphicon-list"></i>Lista de temas
            </a>
            <a href="{{ path('MozcuMozcuBundle_albumAlbumInformation', {'username': username, 'id': album.getId}) }}" class="btn btn-default {% if selected == 'information' %} navDiscoMobileActive {% endif %}">
                <i class="center-block glyphicon glyphicon-book"></i>Información
            </a>
            <a href="#" class="btn btn-default {% if selected == 'comments' %} navDiscoMobileActive {% endif %}">
                <i class="center-block glyphicon glyphicon-comment"></i>Comentarios
            </a>
            <a href="{{ path('MozcuMozcuBundle_albumAlbumRelated', {'username': username, 'id': album.getId}) }}" class="btn btn-default {% if selected == 'related' %} navDiscoMobileActive {% endif %}">
                <i class="center-block glyphicon glyphicon-th"></i>Similares
            </a>
        </div>
    </div>
    <!-- FIN MENU DISCO SOLO PARA MOBILES-->

</div>